
@{
    ViewData["Title"] = "Look at save session";
}

<h1>LookAt</h1>
@if (ViewBag.Msg != null)
{
    <h3>@ViewBag.Msg</h3>

}
else
{ <h3>Session is empty</h3>

}
<form asp-action="SaveSession" method="post">
    <input type="text" name="message" value="" />
    <input type="submit" value="Save in session" />
</form>
