@model CarViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Car</h1>
<form method="post">
    <!-- this is the same <form asp-action="Create" asp-controller ="Cars" method ="post"-->
    <label asp-for="Brand"></label>
    <input asp-for="Brand" />
    <span asp-validation-for="Brand" style="color:red"></span>
    <br />
    <label asp-for="ModelName"></label>
    <input asp-for="ModelName" />
    <span asp-validation-for="ModelName" style="color:red"></span>

    <input type="submit" value="Add Car" />

</form>

