@model List<Car>
@{
    ViewData["Title"] = "Cars Index";
}
<h1>Cars Index</h1>
<a asp-action="Create">Create car</a>

<div>
    @foreach (Car aCar in Model)
    {
        <div id="@("carId" + aCar.Id)">
            <p>Brand: @aCar.Brand </p>
            <p>Model: @aCar.ModelName</p>
        </div>
    }
</div>


